//colors
$grey-1:#F5F5F5;
$grey-2:#A0A0A0;
$grey-3:#888888;
$grey-4:#E0E0E0;


$blue-1:#ddeff5;
$bule-2:#3dc7bb;
$blue-3:#0089ff;
$blue-4:#00c4ff;

$black:#000;
$black-2:#333;

$white:#FFF;

$red:#ff0000;
$orange:#ffa500;
$dark-green:#065206f5;



//z-index
$z-index-1:1;  //product-tile-component.scss