@mixin column($columnNumber, $margin:false) {
    @if $columnNumber==1 {
        width: 8.33%;
    }
    @else if $columnNumber==2 {
        width: 16.66%;
    }
    @else if $columnNumber==3 {
        width: 25%;
    }
    @else if $columnNumber==4 {
        width: 33.33%;
    }
    @else if $columnNumber==5 {
        width: 41.66%;
    }
    @else if $columnNumber==6 {
        width: 50%;
    }
    @else if $columnNumber==7 {
        width: 58.33%;
    }
    @else if $columnNumber==8 {
        width: 66.66%;
    }
    @else if $columnNumber==9 {
        width: 75%;
    }
    @else if $columnNumber==10 {
        width: 83.33%;
    }
    @else if $columnNumber==11 {
        width: 91.66%;
    }
    @else if $columnNumber==12 {
        width: 100%;
    }
    @else {
        width: 100%;
    }
    @if $margin==true {
        margin-left: 15px;
        margin-right: 15px;
    }
    @else {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@mixin OffSet($columnNumber) {
    @if $columnNumber==1 {
        margin-left: 8.33%;
    }
    @else if $columnNumber==2 {
        margin-left: 16.66%;
    }
    @else if $columnNumber==3 {
        margin-left: 25%;
    }
    @else if $columnNumber==4 {
        margin-left: 33.33%;
    }
    @else if $columnNumber==5 {
        margin-left: 41.66%;
    }
    @else if $columnNumber==6 {
        margin-left: 50%;
    }
    @else if $columnNumber==7 {
        margin-left: 58.33%;
    }
    @else if $columnNumber==8 {
        margin-left: 66.66%;
    }
    @else if $columnNumber==9 {
        margin-left: 75%;
    }
    @else if $columnNumber==10 {
        margin-left: 83.33%;
    }
    @else if $columnNumber==11 {
        margin-left: 91.66%;
    }
    @else if $columnNumber==12 {
        margin-left: 100%;
    }
    @else {
        margin-left: 100%;
    }
    padding-left: 15px;
    padding-right: 15px;
}